
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@import url(_pygments.less);
@import url(../../bower_components/bootstrap/less/bootstrap.less);

// basic customization of style
@brand-primary: #0063B4;
@font-family-serif: "Lora", serif;
@font-family-base: @font-family-serif;
@font-size-base: 19px;
@headings-font-family: "EB Garamond", serif;
@icon-font-path: "/common/bower_components/bootstrap/fonts/";

h3 {
    font-style: italic;
}
.codehilite>pre, pre>code {
    font-size: (@font-size-base * 0.7);
}

// container width
.container {
    max-width: 960px;
    &.noMenu {
        max-width: 740px;
    }
}

//sticky footer tricks
@footer-height: 82px;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -@footer-height;
  padding: 0 0 @footer-height;
}

.footerRow {
    height: @footer-height;
    font-size: 0.8em;
    text-align: center;
    color: rgb(127, 127, 127);
    padding: 20px;
}

// files explorer
ul.filesList {
    list-style: none;
    display: block;
    margin: 0 30px;
    padding: 0;
    li {
        display: block;
        background-color: @gray-lighter;
        margin: 3px;
        padding: 3px;
        border: 1px solid @gray-light;
        font-family: @font-family-monospace;
    }
}

// horizontal menu
.horizontalMenu {
    text-align: center;
    margin: 10px;
    > a {
        display: inline-block;
        font-style: italic;
        padding: 0 10px;
    }
}
